<a href="https://colab.research.google.com/github/Rohittkilatur14/Ineuron-Python-basics/blob/main/ListComp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
lst = [1,2,3,4]
for i in lst:
  print(i**2)

1
4
9
16

In [6]:
lst = [1,2,3,4]
lst1=[]
for i in lst:
  lst1.append(i**2)
print(lst1)

[1, 4, 9, 16]

##LIST COMPREHENSION

In [7]:
[i**2 for i in lst]

[1, 4, 9, 16]

## LIST OF EVEN NUMBERS INSIDE A COLLECTION

In [10]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst1 = [i for i in lst if i%2==0]
print(lst1)

[2, 4, 6, 8, 10]

##SUM OF EVEN AND ODD NUMBERS INSIDE A COLLECTION

In [11]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst1 = sum([i for i in lst if i%2==0])
lst2 = sum([i for i in lst if i%2!=0])
print(lst1)
print(lst2)

30
25